%centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin equal-sides($side) {
  height: $side;
  width: $side;
}

section.canvas {
  @include equal-sides(100%);
  @extend %centered-flex;
  background-color: #333;

  .ball {
    background-color: black;
    @extend %centered-flex;
    border-radius: 50%;
    background-image: radial-gradient(farthest-corner at 40px 40px, #fff 0%, #000 45%);
    z-index: 1;
    position: relative;
    box-shadow: 45px 25px 30px #111111;

    &.is-shaking {
      animation: shake 0.5s;
      animation-iteration-count: infinite;
    }
  }

  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }

  @media screen and (max-width: 900px) {
    .ball {
      @include equal-sides(75vw);
    }
  }

  @media screen and (min-width: 900px) {
    .ball {
      @include equal-sides(35vw);
    }
  }

  .answer-portal {
    @include equal-sides(50%);
    @extend %centered-flex;
    background-color: black;
    border-radius: 50%;
    box-shadow: 5px 5px 15px grey;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10%;
  }

  .answer-container {
    @include equal-sides(100%);
    @extend %centered-flex;
    background-image: radial-gradient(farthest-corner at 40px 40px, #333 0%, #000 85%);
    background-color: #808080;
    border-radius: 5px;
    transition: all 1s ease-in-out;
    opacity: 0;
    transform: scale(0.9);

    &.is-visible {
      opacity: 1;
      transform: scale(1);
    }
  }

  .answer {
    text-align: center;
    font-family: sans-serif;
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #aaaaaa;
    user-select: none;
  }

  @media screen and (max-width: 900px) {
    .answer {
      font-size: 12px;
    }
  }
}
